* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: GilroyBold; 
    src: url(../fonts/Gilroy-ExtraBold.otf); 
}
@font-face {
    font-family: GilroyThin;
    src: url(../fonts/Gilroy-Light.otf); 
}
body {
    display: flex;
	min-height: 100vh;
    flex-direction: column;
    height: 100%;
}
main {
    flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}

main {
    margin-bottom: 50px;
}
h1 {
    width: 100%;
    max-width: 450px;
    margin: 20px auto;
    font-family:  GilroyBold; 
}
table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 20pt;
    font-family: GilroyThin;
}
.bold {
    font-family: GilroyBold; 
}
@media only screen and (max-width: 640px) {
    .table td {
        padding: 0;
    }
}
@media only screen and (max-width: 580px) {
    .table, .h1 {
        font-size: 13pt;
    }
}
@media only screen and (max-width: 400px) {
    .table, .h1 {
        font-size: 10pt;
    }
}