* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: GilroyBold; 
    src: url(../fonts/Gilroy-ExtraBold.otf); 
}
@font-face {
    font-family: GilroyThin;
    src: url(../fonts/Gilroy-Light.otf); 
}
body {
    display: flex;
	min-height: 100vh;
    flex-direction: column;
    height: 100%;
}
main {
    flex: 1 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
footer {
	flex: 0 0 auto;
}
h1 {
    margin: 20px;
    font-family: GilroyBold; 
    
} 
.calendar {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.calendar_item {
    width: 100%;
    max-width: 290px;
    text-align: center;
    /* border: 3px solid #874BA0; */
    border-radius: 8px;
    padding: 10px;
    background-color:  rgba(94, 94, 94, 0.103); 
    margin: 5px;
}
.calendar_item .info {
    height: 100%;
    min-height: 450px;
    vertical-align: top;
}
.calendar_item h3 {
    font-weight: bold;
    margin-top: 15px;
    font-family: GilroyBold; 
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18pt;
}
.calendar_item img {
    width: 100%;
    max-width: 250px;
    padding-top: 10px;
}
.calendar_item p {
    font-family: GilroyThin;
}
.btn {
    color: white;
    background-color:rgba(134, 75, 160, 0.404);
    margin-bottom: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    font-family: GilroyBold;
    font-size: 15pt;
}
.btn:hover {
    background-color: rgba(191, 107, 230, 0.322); 
}
/* .start {
    background-color: rgba(134, 75, 160, 0.158);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 5px;
}
.start h1 {
    font-size: 15pt;
    font-family: Gilroybold;
    margin: 5px;
}
.start p {
    margin: 5px;
} */

.date {
    background-color: rgba(85, 180, 50, 0.575);
    padding: 10px; 
    border-radius: 8px 8px 0 0;
    width: 290px;
    margin-left: -10px;
    margin-top: -10px;
  
}
.date p {
    font-family: GilroyThin; 
    font-size: 17pt;
    color: black;
    padding: 5px;
    margin: 0;
    
}