* {  
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: GilroyBold; 
    src: url(../fonts/Gilroy-ExtraBold.otf); 
}
@font-face {
    font-family: GilroyThin;
    src: url(../fonts/Gilroy-Light.otf); 
}
body {
    display: flex;
	min-height: 100vh;
    flex-direction: column;
    height: 100%;
}
main {
    flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}

main {
    text-align: center;
    margin-bottom: 50px;
    margin-top:-25px;
} 
h1 {
    margin: 20px;
    color:#fff;
    font-family: GilroyBold; 
}
.modal-body {
    padding: 0;
}
.wrapper {
    width: 100%;
    max-width: 3000px;
    height: 100%;
    margin: 0 auto;
    background-image: url(../img/n.jpg);
    background-position-y: 30%;
    font-family: GilroyThin;
}
.inner-wrapper {
    width: 100%;
    max-width: 3000px;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.7);
    height: 100%;
    padding-top: 20px;
}
.wrapper form {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
/* .d3 form {
    background: rgb(255, 255, 255);
    border-radius: 8px;
    margin-top: 10px;
}
.d3 input, .d3 button {
    border: none;
    outline: none;
    background: transparent;
}
.d3 input {
    width: 100%;
    height: 60px;
    padding-left: 15px;
} */
.check {
    font-size: 20px;
    color:#fff;
} 
.check input{
    display: none;
}
/* .d3 button {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.d3 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 20px;
    color: rgba(134, 75, 160, 0.842); 
} */
.check label {
    margin-right: 15px; 
}
.check input:checked + .checkbox-custom::before, .specialty input, .pl label input, .competencii label input, .vidi_obuch label input {
	content: "";          
	display: block;			
	position: absolute;     
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: #874BA0;   
    border-radius: 2px;
}
.checkbox-custom, .specialty input, .pl label input, .competencii label input, .vidi_obuch label input {
	position: relative;
	width: 25px;             
    height: 25px;      
    background-color: #fff;      
	border: 3px solid  #874BA0;   
    border-radius: 3px;
    margin-right: 8px;
}
.checkbox-custom, .specialty input, .pl label input, .competencii label input, .vidi_obuch label input {
	display: inline-block;
	vertical-align: middle;
}
/* .af {
    padding-top: 20px;
    width: 100%;
    max-width:800px;
    margin:0 auto;
    padding-bottom: 20px;
}
.af ul {
    display: flex;
    flex-direction: row;
    justify-content: center;  
    flex-wrap: wrap;
}
.af ul {
    list-style: none;
    text-align: left;
}
.af ul li {
    display: inline-block;
    margin-right: 25px;
}*/
.bbo {
    /* color:#fff;
    font-size: 20px;
    text-decoration: underline;
    background: none;
    border:none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px; */
    background-color:  #874BA0; 
    color: white;
} 
.bbo:hover {
    background-color: rgba(191, 107, 230, 0.842); 
}

/* .list {
    text-align: left;
    position: relative;
    max-width:400px;
    max-height:200px;
    border-radius: 2px;
    border:1px solid #874BA0;
    overflow-y: scroll;
} */

/* .dropdown-item {
    white-space: normal; 
    width: 100%;
    max-width: 500px;
} */

.pl p, .date p, .vidi_obuch p, .competencii p {
    font-family: GilroyThin; 
    font-weight: bold;
    font-size: 15pt;
    margin-bottom: 10px;
    padding-top: 10px;
}
.pl label, .vidi_obuch label, .competencii label {
    font-family: GilroyThin;
    font-size: 15pt;
    display: block;
    text-align: left;
    margin-left: 10px;
}
.specialty label {
    font-family: GilroyThin;
    font-size: 15pt;
    display: block;
    text-align: left;
    margin-left: 20px;
}
.price p {
    text-align: center;
    font-family: GilroyThin;
    font-size: 16pt;
}
.price {
    text-align: center;
}
.list input {
    margin-top:0px;
    margin-right: 8px;
}

.date input {
    width: 100%;
    max-width:155px;
    border-radius: 2px ;
    border:1px solid  #874BA0;
    margin-left: 15px;
    text-align: center;
}
.date label {
    font-family: GilroyThin;
    font-size: 15pt;
    text-align: end;
    width: 50px;
}






.price input[type=range] {
    width: 100%;
    max-width:480px;
    height:40px;
    margin-top: -25px;
}
input[type=range]::-moz-range-track {
    height: 10px;
	cursor: pointer;
	animate: 0.2s;
    background-color:#874BA0;
}
input[type=range] {
	-webkit-appearance: none;
} 
input[type=range]:focus {
	outline: none;
} 
input[type=range]::-webkit-slider-thumb {
    margin-top:-10px; 
    background-color:#fff;
}
input[type=range]::-moz-range-thumb {
    margin-top:-10px; 
    background-color:#fff;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
	cursor: pointer;
	animate: 0.2s;
    background-color:#874BA0;
}
input[type="range"]::-ms-track {
    height: 10px;
	cursor: pointer;
	animate: 0.2s;
    background-color:#874BA0;
}
input[type="range"]::-ms-thumb {
    margin-top:-10px; 
    background-color:#fff;
}



thead th {
    font-family: GilroyBold; 
    font-size: 13pt;
}
table a { 
    font-size:18px;
    color:#000;
    text-decoration: underline;
    font-weight: bold;
}
span.price {
    font-size: 18px;
    font-weight: bold;
}
span.teach {
    width:10px;
}




.table {
    width: 100%;
    max-width:1000px;
    margin:0 auto;
}
.time {
    font-size:20px; 
    color:#874BA0;  
    font-weight: bold;
}
.pr { 
    font-size:20px; 
    font-weight: bolder;
}
.vid, .time { 
    border-right:1px dashed #874BA0;
    border-left:1px dashed #874BA0;
}
.name { 
    border-left:1px dashed #874BA0;
    width: 100%;
    max-width: 200px;
    font-family: GilroyBold; 
}
.vid, .speaker {
    font-family: GilroyThin;
}
.buttons {
    padding-top: 15px;
    padding-bottom: 15px;
}
.buttons a {
    margin: 10px;
    font-family: GilroyThin;
    font-size: 18pt;
    text-decoration: none;
    color: white;
}
.buttons a:hover {
    text-decoration: none;
    color: #874BA0;
}
.date_mobile {
    display: none;
}
.img img{
    width: 100px;
}
.submit_btn {
    font-family: GilroyBold;
    font-size: 15pt;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px 20px 10px 20px;
}
@media only screen and (max-width: 870px) {
    .d3{
        margin: 10px;
    }
}
@media only screen and (max-width: 820px) {
    .img {
        display: none;
    }
}
@media only screen and (max-width: 730px) {
    .speaker, .speaker_lable {
        display: none;
    }
}
@media only screen and (max-width: 615px) {
    .vid, .vid_lable{
        display: none;
    }
    .name  {
       margin: 55px;
    }

}
@media only screen and (max-width: 515px) {
    .time, .time_lable {
        display: none;
    }
    .pr {
        border-left:1px dashed #874BA0;
    }
}
@media only screen and (max-width: 461px) {
    .buttons button {
        margin: 0;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 600px) {
    .table td, .table th {
        padding: 0;
        vertical-align: top;
    }
    .check {
        font-size: 15px;
    }
    
    
}
