* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: GilroyBold; 
    src: url(../fonts/Gilroy-ExtraBold.otf); 
}
@font-face {
    font-family: GilroyThin;
    src: url(../fonts/Gilroy-Light.otf); 
}
body {
    display: flex;
	min-height: 100vh;
    flex-direction: column;
    height: 100%;
}
main {
    flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}

.name_course {
    text-align: center;
    margin: 20px;
    font-family:  GilroyBold; 
    font-size: 40pt;
}
.course_header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.course_info {
    font-size: 20pt;
    padding-top:100px;
    font-family: GilroyThin;
}
.speaker {
    text-align: center;
}
.speaker h1 {
    font-family:  GilroyBold; 
    font-size: 20pt;
}
.speaker img {
    width: 100%;
    max-width: 300px;
}
.speaker .name {
    font-size: 20pt;
    padding-top: 15px;
    font-family: GilroyBold;
}
.speaker .job {
    font-size: 18pt;
    padding-top: 0;
    font-family: GilroyThin;    
}
.about_course {
    background-color:  rgba(94, 94, 94, 0.103); 
}
.about_course h1, .program h1, .coursepage_registration h1, .comments h1, .add_comment h1 {
    text-align: center;
    margin: 20px;
    font-family:  GilroyBold; 
    
    padding-top: 50px;
    padding-bottom: 30px;
}
.about_course div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
    align-items: center;
}
.about_course img {
    width: 100%;
    max-width: 500px;
    height: 100%;
}
.about_course p {
    width: 100%;
    max-width: 600px;
    text-align: justify; 
    font-family: GilroyThin;
    font-size: 17pt;
}
.card-header {
    background-color:  rgba(94, 94, 94, 0.103); 
    text-align: center;
    font-family: GilroyBold;
}
.card-body {
    font-family: GilroyThin;
    font-size: 17pt;
    text-align: center;
}
.btn-link {
    color: black;
    font-size: 20pt;
    /* text-decoration: underline; */
}
.btn-link:hover {
    color: rgb(134, 75, 160); 
    text-decoration: none;
}

.coursepage_registration_form, .add_comment_form {
    text-align: center;
}
.coursepage_registration {
    background-color:  rgba(94, 94, 94, 0.103); 
    padding-bottom: 80px;
}
.coursepage_registration_form label, .add_comment_form label {
	font-size: 20pt;
	width:130px;
	text-align: right;
	margin-right: 35px;
    vertical-align: top;
    font-family:  GilroyThin;
}
.coursepage_registration_form input, .coursepage_registration_form select, .add_comment_form input, .add_comment_form textarea {
	width:250px;
	text-align: left;
	border-radius: 8px;
    padding: 5px;
    font-family: GilroyThin;
}
.coursepage_registration_form button, .add_comment_form button {
	padding: 15px 40px 15px 40px; 
    border-radius: 8px;
    background-color: rgba(134, 75, 160, 0.842); 
    color: white;
    font-size: 15pt;
}
.coursepage_registration_form button:hover, .add_comment_form button:hover {
    color: white;
    background-color: rgba(191, 107, 230, 0.842); 
}
.btn_coursepage_r_form, .btn_add_comment_form {
	width:100%;
	max-width: 400px;
	margin-top: 30px;
}
.personal_agree {
    width: 100%;
    max-width: 700px;
    margin: 10px auto;
    font-family: GilroyThin;
}
.add_comment {
    margin-bottom: 80px;
}
.comments_item {
    width: 100%;
    max-width: 1200px;
    margin: 5px auto; 
    border-radius: 8px;
    background-color:  rgba(94, 94, 94, 0.103); 
    padding: 10px 26px 10px 26px;
}
.comments h2 {
    font-family: GilroyBold;
    font-size: 24pt;
    margin: 5px 10px 5px 0; 
}
.comments h3 {
    font-family: GilroyThin;
    font-size: 13pt;
    margin: 0;
    color: rgb(95, 95, 95);
}
.comments p {
    font-family: GilroyThin;
    font-size: 16pt;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 8px;
}

@media only screen and (max-width: 1116px) {
    .about_course p {
        margin-top: 30px;
    }
}
@media only screen and (max-width: 884px) {
    .speaker  {
        margin-top: 30px;
    }
}
@media only screen and (max-width: 426px) {
    .coursepage_registration_form label, .add_comment_form label{
            text-align: center;
            margin: 0;
    }
}