* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: GilroyBold; 
    src: url(../fonts/Gilroy-ExtraBold.otf); 
}
@font-face {
    font-family: GilroyThin;
    src: url(../fonts/Gilroy-Light.otf); 
}
body {
    display: flex;
	min-height: 100vh;
    flex-direction: column;
    height: 100%;
}
main {
    flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}

/*Header*/
header {
    color: white;
    width: 100%;
    max-width: 3000px;
    margin: 0 auto;
    padding-top: 10px;

    font-family: GilroyBold; 

    background-image: url(../img/first_illustration.jpg);
    background-position: center center;   
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
    background-color: #464646; 
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header p {
    margin: 0;
}
.header div, .header ul {
    padding: 20px;
}
header a {
    text-decoration: none;
}
header a:hover {
    text-decoration: none;
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    align-items: center; 
    font-size: 16pt;
    color: white;
}
.logo div {
    margin-left: 10px;
}
.menu {
    margin-top: 15px;
}
.menu p {
    padding: 8px;
    padding-right: 0;
    padding-bottom: 0;
    text-align: right;
    font-size: 15pt;
}
.menu a {
    color: white;
    font-size: 15pt;
}
.menu a:hover {
    color: rgb(134, 75, 160); 
}
.menu li {
    display: inline;
    padding-left: 10px;
    color: white;
}
header img {
    max-width: 100px;
    width: 100%;
}
.header_text {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 200px;
    text-align: center;
    color: white;
}
.header_text h1 {
    padding-bottom: 30px;
}
.header_text p {
    padding-bottom: 50px;
    font-size: 17pt;
    margin: 20px auto;
}
.header_text a {
    padding: 20px 55px 20px 55px; 
    border-radius: 8px;
    background-color: rgba(134, 75, 160, 0.842); 
    color: white;
    font-size: 15pt;
}
.header_text a:hover {
    color: white;
    background-color: rgba(191, 107, 230, 0.842); 
}
/* Конец стилей header */
.menu-btn {
    display: none;
}

/* Main */
.populartoday {
    width: 100%;
    max-width: 530px;
}
.carousel-item h2 {
    font-size: 17pt;
}
.slider_popular {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 50px;
}
.carousel {
    margin: 2px;
}
.carousel img {
    width: 100%;
    max-width: 600px;
    height: auto;
}
main {
    font-family: GilroyBold; 
    margin-bottom: 50px;
}
.innumbers, .nextcourses {
    background-color:  rgba(94, 94, 94, 0.103); 
    background-position: center center;   
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto; 
}
.innumbers_blocks div {
    /* иллюстрации в "мы в цифрах" */
    padding: 10px;
    padding-top: 40px;
}
.innumbers_blocks div img {
    width: 100%;
    max-width: 160px;
}
.innumbers_blocks {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.innumbers h1 {
    text-align: center;
    padding-top: 50px;
}
.innumbers_blocks {
    font-size: 20pt;
    font-family: GilroyThin;
}
.number_name {
    font-size:25pt;
}
.number {
    margin-top: 40px;
    font-size: 40pt;
    font-family: GilroyBold;
}
.whyimportant {
    padding-top: 50px;
    

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    margin-bottom: 50px;
}
.whyimportant {
    padding-top: 70px;
}
.whyimportant div {
    width: 100%;
    max-width: 660px;
    text-align: justify;
}
.whyimportant img {
    width: 100%;
    max-width: 500px;
    height: 100%;
}
.populartoday_text h1, .whyimportant h1, .nextcourses h1, .mainpage_registration_form {
    text-align: center;
    padding-bottom: 10px;
}
.populartoday_text p, .whyimportant p {
    font-family: GilroyThin;
    font-size: 17pt;
    margin: 20px;
}
.populartoday_text p {
    text-align: justify;
}
.nextcourses {
    padding-bottom: 50px;
}
.calendar {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.calendar_item {
    width: 100%;
    max-width: 1000px;
    text-align: center;
    /* border: 3px solid #874BA0; */
    border-radius: 8px;
    background-color:  rgba(94, 94, 94, 0.103); 
    margin: 5px;
}
.calendar_item .info {

    vertical-align: top;
}
.calendar_item h3 {
    font-weight: bold;
    margin-top: 15px;
    font-family: GilroyBold; 
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18pt;
}
.calendar_item img {
    width: 100%;
    max-width: 250px;
    padding-top: 10px;
}
.calendar_item p {
    font-family: GilroyThin;
}
/* .more_btn {
    color: white;
    background-color:#874BA0;
    margin-bottom: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    font-family: GilroyBold;
    font-size: 15pt;
}
.more_btn:hover {
    background-color: rgba(191, 107, 230, 0.842); 
} */
.date {
    background-color: rgba(85, 180, 50, 0.575);
    padding: 10px; 
    border-radius: 8px 8px 0 0;
    width: 100%;
    max-width: 1000px;
   
  
}
.date p {
    font-family: GilroyThin; 
    font-size: 17pt;
    color: black;
    padding: 5px;
    margin: 0;
}
.calendar_btn_div {
    text-align: center;
    margin-top: 50px;
}
.calendar_btn {
    text-decoration: none;
    margin-top: 30px;
    padding: 20px 30px 20px 30px; 
    border-radius: 8px;
    background-color: rgba(134, 75, 160, 0.842); 
    color: white;
    font-size: 15pt;
}
.calendar_btn:hover {
    text-decoration: none;
    color: white;
    background-color: rgba(191, 107, 230, 0.842); 
}

.nextcourses h1, .mainpage_registration_form h1 {
    padding-top: 50px;
}
.mainpage_registration_form h1 {
    padding-bottom: 30px;
}
.mainpage_registration_form label {
	font-size: 20pt;
	width:120px;
	text-align: right;
	margin-right: 35px;
    vertical-align: top;
    font-family:  GilroyThin;
}
.mainpage_registration_form input, .mainpage_registration_form textarea, .mainpage_registration_form select {
	width:250px;
	text-align: left;
	border-radius: 8px;
    padding: 5px;
    font-family: GilroyThin;
}
.mainpage_registration_form button {
	padding: 15px 40px 15px 40px; 
    border-radius: 8px;
    background-color: rgba(134, 75, 160, 0.842); 
    color: white;
    font-size: 15pt;
}
.mainpage_registration_form button:hover {
    color: white;
    background-color: rgba(191, 107, 230, 0.842); 
}
.btn_mainpage_r_form  {
	width:100%;
	max-width: 400px;
	margin-top: 30px;
}
.personal_agree {
    width: 100%;
    max-width: 700px;
    margin: 10px auto;
    font-family: GilroyThin;
}
.formSend_alert {
    margin-top: 30px;
    font-family: GilroyBold;
    padding: 30px;
    background-color: rgba(85, 180, 50, 0.479);
    font-size: 15pt;
}
.formNotSend_alert {
    margin-top: 30px;
    font-family: GilroyBold;
    padding: 30px;
    background-color: rgba(230, 50, 71, 0.479);
    font-size: 15pt;
} 
/* Конец стилей Main */

@media only screen and (max-width: 2000px) {
    .menu a, .menu p {
        font-size: 15pt;
    }
    .logo div {
        font-size: 15pt;
    }
}
@media only screen and (max-width: 1550px) {
    .menu a, .menu p{
        font-size: 11pt;
    }
    .logo div {
        font-size: 11pt;
    }
}
@media only screen and (max-width: 1245px) {
    .whyimportant, .slider_popular {
        justify-content: center;
    }
    .menu {
        display: none;
    }
    .menu-btn {
        display: block;
    }
    .header div {
        padding: 0;
        padding-bottom: 25px;
    }
    .logo div  {
        display: none;
    }
}
@media only screen and (max-width: 770px) {
    .innumbers_blocks div {
        /* иллюстрации в "мы в цифрах" */
        padding: 0;
    }
}
@media only screen and (max-width: 680px) {
    .populartoday_text p, .whyimportant div {
        text-align: center;
    }
}
@media only screen and (max-width: 426px) {
    .mainpage_registration_form label {
        text-align: center;
        margin: 0;
    }
}
