* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: GilroyBold; 
    src: url(../fonts/Gilroy-ExtraBold.otf); 
}
@font-face {
    font-family: GilroyThin;
    src: url(../fonts/Gilroy-Light.otf); 
}
body {
    display: flex;
	min-height: 100vh;
    flex-direction: column;
    height: 100%;
}
main {
    flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}
h1 {
    text-align: center;
    margin: 20px;
    font-family: GilroyBold;
}

.news {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; */
}
.news_item {
    width: 100%;
    /* border: 3px solid #874BA0; */
    border-radius: 8px;
    padding: 30px 10px;
    background-color:  rgba(94, 94, 94, 0.103); 
    margin: 10px 0;
    margin-bottom: 80px;
}
.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.news_item .title {
    font-family: GilroyBold;
    font-size: 24pt;
    margin: 5px 0 5px 0;
}
.news_item .date {
    font-family: GilroyThin;
    font-size: 13pt;
    margin: 0;
    color: rgb(95, 95, 95);
}
.news_item .text {
    font-family: GilroyThin;
    font-size: 16pt;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}
.news_item .more {
    font-family: GilroyThin;
    font-size: 13pt;
    margin: 0;
    text-align: end;
    margin-right: 30px;
}
.img_news img {
    width: 100%;
    max-width: 1000px;
}