* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: GilroyBold; 
    src: url(../fonts/Gilroy-ExtraBold.otf); 
}
@font-face {
    font-family: GilroyThin;
    src: url(../fonts/Gilroy-Light.otf); 
}
body {
    display: flex;
	min-height: 100vh;
    flex-direction: column;
    height: 100%;
}
main {
    flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}

main {
    text-align: center;
    margin-bottom: 50px;
}
h1 {
    margin: 20px;
    font-family:  GilroyBold; 
}

.signin_r_form label {
	font-size: 20pt;
	width:195px;
	text-align: right;
	margin-right: 35px;
    vertical-align: top;
    font-family:  GilroyThin;
}
.signin_r_form input, .signin_r_form select {
	width:250px;
	text-align: left;
	border-radius: 8px;
    padding: 5px;
    font-family: GilroyThin;
}
.signin_r_form button {
	padding: 15px 40px 15px 40px; 
    border-radius: 8px;
    background-color: rgba(134, 75, 160, 0.842); 
    color: white;
    font-size: 15pt;
}
.signin_r_form button:hover {
    color: white;
    background-color: rgba(191, 107, 230, 0.842); 
}
.btn_signin_r_form {
	width:100%;
	max-width: 400px;
	margin-top: 30px;
}
.personal_agree {
    width: 100%;
    max-width: 700px;
    margin: 10px auto;
}
.links {
    margin-top: 30px;
}
.links a {
    color: black;
    font-family:  GilroyBold; 
    text-decoration: underline;
    font-size: 17pt;
}
.links a:hover {
    color: #874BA0;
    text-decoration: underline;
}
.formSend_alert {
    margin-top: 30px;
    font-family: GilroyBold;
    padding: 30px;
    background-color: rgba(85, 180, 50, 0.479);
    font-size: 15pt;
}
.formNotSend_alert {
    margin-top: 30px;
    font-family: GilroyBold;
    padding: 30px;
    background-color: rgba(230, 50, 71, 0.479);
    font-size: 15pt;
} 
#select_course option {
    padding: 10px;
}
@media only screen and (max-width: 426px) {
    .signin_r_form label {
            text-align: center;
            margin: 0;
    }
}