* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: GilroyBold; 
    src: url(../fonts/Gilroy-ExtraBold.otf); 
}
@font-face {
    font-family: GilroyThin;
    src: url(../fonts/Gilroy-Light.otf); 
}
body {
    display: flex;
	min-height: 100vh;
    flex-direction: column;
    height: 100%;
}
main {
    flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}

.speaker {
    padding-top: 30px;
    text-align: center;
}
.speaker img {
    width: 100%;
    max-width: 300px;
}
.speaker .name {
    font-size: 20pt;
    padding-top: 15px;
    font-family: GilroyBold;
}
.speaker .job {
    font-size: 18pt;
    padding-top: 0;
    font-family: GilroyThin;    
}
.speaker_about_text {
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;
    text-align: center;
    font-family: GilroyThin;
    font-size: 17pt;
    margin-bottom: 50px;
}
.next_speakers_courses {
    background-color:  rgba(94, 94, 94, 0.103);
   
    height: 500px; 
    /* УБРАТЬ */
}
.next_speakers_courses h1 {
    text-align: center;
    margin: 20px;
    font-family:  GilroyBold; 
    
    padding-top: 50px;
  