#toTop {
    width:130px;
    border-radius: 8px;
    background: rgba(134, 75, 160, 0.582); 
    text-align:center;
    padding:10px 15px 10px 15px;
    position:fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
    display:none;
    color: white;
    font-family: GilroyBold; 
    font-size:13px;
}