<footer>
    <div class="footer">
        <ul class="menu_footer">
            <li><a href="index.php">Главная</a></li>
            <li><a href="catalog.php">Каталог программ</a></li>
            <li><a href="calendar.php">Календарь обучения</a></li>
            <li><a href="about.php">О центре</a></li>
            <li><a href="news.php">Новости</a></li>
            <li><a href="signin.php">Записаться</a></li>
            <li><a href="contacts.php">Контакты</a></li>
            <li><a href="bank_documents.php">Банковские реквизиты</a></li>
            <!-- <li><a href="rights_documents.php">Правовая информация</a></li> -->
        </ul>
        <div class="subscription">
            <h3>Подписаться на новости!</h3>
            <form class="mainpage_subscription_form" enctype="multipart/form-data" name="request" method="post" action="php_forms/subscription_footer.php">
                <div>
                    <label for="email_subscription">Email</label>
                    <input name="email_subscription" type="email" id="email_subscription" placeholder="Введите ваш email" required>
                </div>
                <div>
                    <button type="submit" name="button_subscription" class="btn">Отправить</button>
                </div>
            </form>
        </div>
        <div class="contacts_vk_footer">
            <p>+7 (495) 223-05-21</p>
            <p>dpo@mospolytech.ru</p>
            <h3>Подпишись на нас в ВК!</h3>
            <a href="https://vk.com/public168545673"><img src="img/vk.png"></a>
        </div>
    </div>
    <p class="license">© 2018 Московский политехнический университет</p>
</footer>