    <div class="header">
        <a href="index.php"><div class='logo'>
            <img src="img/logo_black.png">
            <div>
                <p>Дополнительное профессиональное образование</p>
                <p>Московский политех</p>
            </div>
        </div></a>
        <ul class="menu">
            <p>+7 (495) 223-05-21, dpo@mospolytech.ru</p>
            <li><a href="catalog.php">Каталог программ</a></li>
            <li><a href="calendar.php">Календарь обучения</a></li>
            <li><a href="about.php">О центре</a></li>
            <li><a href="news.php">Новости</a></li>
            <li class="signin"><a href="signin.php">Записаться</a></li>
            <li><a href="contacts.php">Контакты</a></li>
        </ul>

        <!-- Pushy Menu -->
        <nav class="pushy pushy-left" data-focus="#first-link">
            <div class="pushy-content">
                <ul>
                    <li class="pushy-link"><a href="index.php">Главная</a></li>
                    <li class="pushy-link"><a href="catalog.php">Каталог программ</a></li>
                    <li class="pushy-link"><a href="calendar.php">Календарь обучения</a></li>
                    <li class="pushy-link"><a href="about.php">О центре</a></li>
                    <li class="pushy-link"><a href="news.php">Новости</a></li>
                    <li class="pushy-link"><a href="signin.php">Записаться</a></li>
                    <li class="pushy-link"><a href="contacts.php">Контакты</a></li>
                    <li><a href="bank_documents.php">Банковские реквизиты</a></li>
                    <!-- <li><a href="rights_documents.php">Правовая информация</a></li> -->
                </ul>
            </div>
        </nav>
        <a class="menu-btn">&#9776;</a>


    </div>
    <div class="stripe"></div>   